.HomeItem {
    background: transparentize($blue, 0.95);
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
}

.HomeItem__img {
    height: 70px;
}

.HomeItem__box {
    margin-left: 10px;
    color: $white;
    flex: 1;
}

.HomeItem__counter {
    font-size: 30px;
    @include PHONE_ONLY {
        text-align: right;
    }
}

.HomeItem__title {
    font-size: 20px;
    @include PHONE_ONLY {
        display: none;
    }
}