.InfoItem {
    border-top: 3px solid $blue;
    background: transparentize($blue, 0.5);
    color: $white;
    padding: 10px;
    margin-bottom: 10px;
}

.InfoItem__title {
    font-size: 18px;
    text-transform: uppercase;
}