@mixin PHONE_ONLY {
    @media (max-width: $tab - 1px) {
        @content
    }
}

@mixin TAB_ONLY {
    @media (min-width: $tab) and (max-width: $pc - 1px) {
        @content
    }
}

@mixin PC_ONLY {
    @media (min-width: $pc) {
        @content
    }
}

@mixin TAB_MIN {
    @media (min-width: $tab) {
        @content
    }
}

@mixin PC_MIN {
    @media (min-width: $pc) {
        @content
    }
}

@mixin TAB_MAX {
    @media (max-width: $pc - 1px) {
        @content
    }
}

@mixin MIN($min-width) {
    @media (min-width: $min-width) {
        @content
    }
}

@mixin MAX($max-width) {
    @media (max-width: $max-width) {
        @content
    }
}